spring:
  application:
    name: playjava
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  docker:
    compose:
      enabled: false

  mybatis-plus:
    configuration:
      log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
      map-underscore-to-camel-case: true
    global-config:
      db-config:
        id-type: ASSIGN_ID
        table-prefix: t_
        logic-delete-field: deleted
        logic-delete-value: 1
        logic-not-delete-value: 0

  logging:
    level:
      root: DEBUG


